@tailwind base;
@tailwind components;
@tailwind utilities;

.table-overflow-x-scroll {
  overflow-x: auto;
}

.table-overflow-x-scroll::-webkit-scrollbar {
  height: 6px;
}

.table-overflow-x-scroll::-webkit-scrollbar-thumb {
  background-color: #4f4f4f00;
  border-radius: 10px;
}

.table-overflow-x-scroll:hover::-webkit-scrollbar-thumb {
  background-color: #4f4f4f99;
}
